package {{ .EntityLower }}s

import (
	"testing"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/require"

	"github.com/cszczepaniak/go-cribbly/internal/model"
	"github.com/cszczepaniak/go-cribbly/internal/persistence/bytestore"
	"github.com/cszczepaniak/go-cribbly/internal/random"
)

func Test{{ .Entity }}s(t *testing.T) {
	byteStore := bytestore.NewMemoryByteStore()
	{{ .EntityLower }}Store := NewS3{{ .Entity }}Store(byteStore)

	e1, err := {{ .EntityLower }}Store.Create(model.{{ .Entity }}{})
	require.NoError(t, err)

	e2, err := {{ .EntityLower }}Store.Create(model.{{ .Entity }}{})
	require.NoError(t, err)

	e3, err := {{ .EntityLower }}Store.Create(model.{{ .Entity }}{})
	require.NoError(t, err)

	e, err := {{ .EntityLower }}Store.Get(e1.ID)
	require.NoError(t, err)
	assert.Equal(t, e1, e)

	e, err = {{ .EntityLower }}Store.Get(e2.ID)
	require.NoError(t, err)
	assert.Equal(t, e2, e)

	e, err = {{ .EntityLower }}Store.Get(e3.ID)
	require.NoError(t, err)
	assert.Equal(t, e3, e)

	es, err := {{ .EntityLower }}Store.GetAll()
	require.NoError(t, err)
	assert.Contains(t, es, e1)
	assert.Contains(t, es, e2)
	assert.Contains(t, es, e3)
}
