package repository

import "github.com/cszczepaniak/go-cribbly/{{ .EntityNameLower }}/model"

type {{ .EntityNameUpper }}Repository interface {
	Create(/* TODO */) (string, error)
	Update({{ .EntityVarName }} *model.{{ .EntityNameUpper }}) error
	Delete(id string) error
	Get(id string) (*model.{{ .EntityNameUpper }}, error)
	GetAll() ([]*model. {{ .EntityNameUpper }}, error)
}