package network

import (
	"log"

	"github.com/gorilla/mux"

	"github.com/cszczepaniak/go-cribbly/persistence"
)

type {{ .EntityNameUpper }}Handler struct {
	logger *log.Logger
	pcfg   *persistence.Config
}

func New{{ .EntityNameUpper }}Handler(logger *log.Logger, pcfg *persistence.Config) *{{ .EntityNameUpper }}Handler {
	return &{{ .EntityNameUpper }}Handler{
		logger: logger,
		pcfg:   pcfg,
	}
}

func ({{ .EntityVarName }}h *{{ .EntityNameUpper }}Handler) RegisterRoutes(r *mux.Router) {
	{{ .EntityNameLower }}sRouter := r.Path(`/{{ .EntityNameLower }}s`).Subrouter()

    // TODO add {{ .EntityNameLower }}s routes
}